<form id="formulario" >
    Title: <input type="text" name="nombre" id="title"><br/><br/>
    Description: <input type="text" name="descripcion" id="description"><br/><br/>
    Price: <input type="number" name="price" id="price"><br/><br/>
    Code: <input type= "text" name="code" id="code"><br/><br/>
    Stock: <input type="number" name="stock" id="stock"><br/><br/>
    Status: <input type="boolean" name="status" id="status"><br/><br/>
    Category: <input type="text" name="category" id="category"><br/><br/>
    <input type="submit" value="ENVIAR">
</form>


<button onclick="{{productsPaginate.hasNextPage}} ? location.href='/views/products?page={{productsPaginate.nextPage}}' : location.href='/views/products'">Pag.siguiente</button>
<button onclick="{{productsPaginate.hasPrevPage}} ? location.href='/views/products?page={{productsPaginate.prevPage}}' : location.href='/views/products'">Pag.anterior</button>

<h3>Lista de productos ingresados:</h3>

<p id="dataRender"></p>


<div class = "container">
    {{#each productsPaginate.payload}}
        <div class = "card">
            <div class = "title">
                <h3> TITLE: {{title}}</h3>
                <h3> Cod.: {{id}} </h3>
            </div>
            <div class = "detalle">
                <p>PRICE: {{price}} </p>
                <p>ESTADO: {{status}} </p>
                <p>CODIGO: {{code}} </p>
                <p>STOCK:{{stock}} </p>
                <p>CATEGORIA:{{category}}</p>
                <p>DESCRIPTION: {{description}}</p>
            </div>
            <form method="post" action="http://localhost:3000/api/carts/640a9dd878ce406fba185192/products/{{id}}"">
                <button class = "btnAddCart">Add to Cart</button>
            </form>
        </div>
    {{/each}}
</div>



<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io()

    const dataRenderProducts = document.getElementById('dataRednder')

    socketClient.on("productoAgregado",(products)=>{
        try{
            console.log("Se Agregó un producto")
            //console.log(products.products)
            window.location.reload()
        }catch(error){
            console.log(error)
        }
    })

    socketClient.on("productoEliminado",(products)=>{
        try{
            console.log("Se elimino un producto")
            //console.log(products.products)
            window.location.reload()
        }catch(error){
            console.log(error)
        }
    })

    
    const formulario = document.getElementById('formulario')
    const inputTitle = document.getElementById('title')
    const inputDescription = document.getElementById('description')
    const inputPrice = document.getElementById('price')
    const inputCode = document.getElementById('code')
    const inputStock = document.getElementById('stock')
    const inputStatus = document.getElementById('status')
    const inputCategory = document.getElementById('category')

    formulario.onsubmit = (e)=>{
        e.preventDefault()
        const title = inputTitle.value
        const description = inputDescription.value
        const price = inputPrice.value
        const code = inputCode.value
        const stock = inputStock.value
        const status = inputStatus.value
        const category = inputCategory.value
                
        socketClient.emit('addProduct',{title, description, price, code,stock,status,category})
       
    }

      

</script>    