<h3>Lista de productos del carrito:</h3>
{{cart._id}}

{{#each cart.cartProducts}}

<!--<p> ID: {{id}} - TITLE: {{title}} - DESCRIPTION: {{description}} - PRICE: {{price}} - ESTADO: {{status}} - CODIGO: {{code}} - STOCK:{{stock}}</p>-->
<p> ID: {{id._id}} - TITLE: {{id.title}} - DESCRIPTION: {{id.description}} - PRICE: {{id.price}} - ESTADO: {{id.status}} - CODIGO: {{id.code}} - STOCK:{{id.stock}} - CATEGORIA:{{id.category}} - CANTIDAD: {{quantity}}</p>

{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io()
    
    socketClient.on("productoAgregado",(products)=>{
        try{
            console.log("Se Agregó un producto")
            //console.log(products.products)
            window.location.reload()
        }catch(error){
            console.log(error)
        }
    })

    socketClient.on("productoEliminado",(products)=>{
        try{
            console.log("Se elimino un producto")
            //console.log(products.products)
            window.location.reload()
        }catch(error){
            console.log(error)
        }
    })
  

</script>    